MONGODB_URI=mongodb://localhost:27017/sda-training
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=sda_training
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
JWT_SECRET=day10-training-secret
JWT_EXPIRES_IN=7d
NODE_ENV=development