PORT=3001

MONGODB_URI=mongodb://localhost:27017/sda-training

JWT_SECRET=day12-training-secret-change-this
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=30d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=